node_modules/
dist/
.parcel-cache/
.cache/
obj/
bin/
.vscode/
.vs/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ww]wwroot/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Benchmark Results
BenchmarkDotNet.Artifacts/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
src/AmySurf.Service/Properties
src/AmySurf.Service/out
